.mobile_menu_container {
    display: none;
}

.mobile_menu {
    position: relative;
    width: 100%;
}

.hamburger_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 28px;
    cursor: pointer;
    position: relative;
}

.hamburger_menu span {
    background-color: black;
    height: 4px;
    width: 100%;
    border-radius: 20px;
}

.mobile_menu_links {
    position: absolute;
    top: 30px;
    right: -12px;
    width: 350px;
    display: none;
    background-color: white;
    box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.11);
    transition: all ease-in-out .5s;
}

.mobile_menu_links.active {
    top: 50px;
    display: block;
}

.hamburger_menu.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
    transition: all ease-in-out .2s;
}

.hamburger_menu.active span:nth-child(2) {
    display: none;
}

.hamburger_menu.active span:nth-child(3) {
    transform: translateY(-7px) rotate(135deg);
    transition: all ease-in-out .2s;
}

.mobile_menu_links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 4rem;
}

.mobile_menu_links ul li a {
    color: black;
    font-size: 18px;
}




@media (max-width:800px) {
    .mobile_menu_container {
        display: block;
    }
}